<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Счёт игр по настольному теннису</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Настольный теннис</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">


    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Счёт игр по настольному теннису</h1>
        </div>
    </section>

    <div class="container">
        <h1>Последние игры</h1>
        <p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Добавить игру
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <select id="team1" class="form-control">
                                <option selected>Выберите

                                {% for team in teams %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <input id="score1" type="text" class="form-control" placeholder="Очки">
                                </div>
                                <div class="col-2">
                                    -
                                </div>
                                <div class="col">
                                    <input id="score2" type="text" class="form-control" placeholder="Очки">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <select id="team2" class="form-control">
                                <option selected>Выберите</option>

                                {% for team in teams %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button id="add-game" type="button" class="btn btn-success float-right">Добавить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Команда 1</th>
                <th scope="col">Очки</th>
                <th scope="col">Команда 2</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.team1_name }}</td>
                <td>{{ game.score1 }} - {{ game.score2 }}</td>
                <td>{{ game.team2_name }}</td>
                <td>{{ game.date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    <div class="container">
        <h1>Команды</h1>
        <p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseTeams"
                    aria-expanded="false" aria-controls="collapseTeams">
                Добавить команду
            </button>
        </p>
        <div class="collapse" id="collapseTeams">
            <div class="card card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <input id="team-name" class="form-control" placeholder="Название команды">
                        </div>
                        <div class="col-2">
                            <button id="add-team-button" type="button" class="btn btn-success float-right">Добавить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Победы</th>
                <th scope="col">Поражения</th>
                <th scope="col">Ничьи</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.losses }}</td>
                <td>{{ team.draws }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</main><!-- /.container -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $("#add-team-button").click(function () {
        let teamName = $("#team-name").val()

        $.ajax({
            url: "/add_team?team_name=" + teamName,
        })
        .done(function( data ) {
            if (data === "Success") {
                window.location = window.location
            }
        })
    })

    $("#add-game").click(function () {
        let team1Id = $("#team1").val()
        let team2Id = $("#team2").val()
        let team1Score = $("#score1").val()
        let team2Score = $("#score2").val()

        $.ajax({
            url: "/add_game?team1_id=" + team1Id + "&team2_id=" + team2Id + "&score1=" + team1Score + '&score2=' + team2Score,
        })
        .done(function( data ) {
            if (data === "Success") {
                window.location = window.location
            }
        })
    })
</script>
</body>
</html>